# Local
.DS_Store
*.local
*.log*
*:Zone.Identifier
frontend-mentor.html

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler
/.pnp
.pnp.js
yarn.debug.log*
yarn.error.log*
npm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# Environment and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
/coverage

# Production
/build
/dist
/.next
/out

# Misc
*.log
*.pem
.DS_Store
Thumbs.db